/* azul oscuro letra = #4da8cf */
/* azul bello header - btn  = #72c8f1 */
/* azul grisclaro= #e4f4fd */


body{
    background: #eef9ff;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4da8cf;
    width: 100%;
}



/* HEADER */
header{
    display: flex;
    align-items: center;
    background-color: #72c8f1;
    width: 100%;
    height: 50px;
}
header h1{
    font-size: 27px;   
    margin: 7px; 
    color: white;
}


/* CONTEINER todas las pantallas */

.conteiner{
    display: flex;
    align-items: center;   
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 50px);           /*resta vh menos los 50px del header  */
    width: 100%;  
    
}



/* pantallaVacia */

.btnAgregar{
    color: white;
    background:#72c8f1;
    border: solid 0px;
    height: 45px;
    width: 45px;
    border-radius: 25px;    
    font-size: 35px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    
}

.btnVolver{
    color: white;
    background:#72c8f1;
    border: solid 0px;
    height: 45px;
    width: 45px;
    border-radius: 25px;    
    font-size: 35px;
    position: fixed;
    left: 30px;
    bottom: 30px;
    
}


/* pantallaAgregando */

.cajaAgregando{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 370px;
    width: 300px;
    background-color: #e5f2fc;
    border: 1px solid #4da8cf ;
    border-radius: 7px;
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    
}

input[type=text] {
    width: 200px;
    height: 15px;
    border: 1px solid #4da8cf;
    border-radius: 2px;
    background: white; 
}

select{
    width: 200px;
    height: 20px;
    border: 1px solid #4da8cf;
    border-radius: 2px;
    background: white; 
    
}

textarea{
    position: relative;
    border: 1px solid #4da8cf;
    border-radius: 2px;
    background: white; 
}

input[type="button" i]{
    border: 1px solid #4da8cf;
    border-radius: 2px;
    background: #72c8f1;
    color: white;
}
    



/* pantallaListado */

.conteinerListado{
    display: flex;
    align-items: center;   
    justify-content: flex-start;
    flex-direction: column;
    height: calc(100vh - 50px);           /*resta vh menos los 50px del header  */
    width: 100%;  
    
}


.listado{       
    display: flex;
    flex-direction: column;      
    width: 100%;   
    padding-left: 0;   
    margin: 0;  
    
}

.listado li{   
    border-bottom: solid 1px #4da8cf;     
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;   
}
li img{
    width: 35px;
    height: 35px;
    margin: 8px;
}

.conteinerBotonesListado{
    display: inline;
}
li  button{
    background: none;
    border: none;
    padding: 0;
    margin: 5px
}

li button img{
    width: 20px;
    height: 20px;    
}

#pngBasura {
    width: 35px;
    height: 35px;
    margin: 0;    
}



/* pantallaDetalle */

.cajaDetalle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;   
    align-items: center;   
    height: 370px;
    width: 300px;
    background-color: #e5f2fc;
    border: 1px solid #4da8cf ;
    border-radius: 7px;
}

.cajaDetalle img #detalleCategoria{
    width: 55px;
    height: 55px;
}

#detalleComentario{    
    margin-bottom: 40px;
    margin-left: 7px;
    margin-right: 7px;
}


.cerrar{
    width: 300px;
    display: flex;
    flex-direction: row-reverse;

}

.cerrarDetalle{    
    background:#72c8f1; 
    border: 0px solid rgb(0, 0, 0);   
    border-radius: 25px;           
    height: 26px;
    width: 26px;      
    font-size: 35px;
    margin: 10px;    
}

.cerrarDetalle img{    
    width: 22px;
    height: 22px;
    position: relative;
    right: 4px;
    bottom: 8px;
}


#pantallaListado, #pantallaDetalle, #pantallaAgregando{
    display: none;
} 